<div (click)="toggleMenu()">≡</div>
<ul [ngStyle]="{'display': menuIsVisible ? 'block': 'none'}">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>  
</ul>
<select [(ngModel)]="selectedQuantity">
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
    <option [value]="4">4</option>
    <option [value]="5">5</option>
</select>
<a routerLink="favorites" (click)="getFavorites()">Favorites</a>
<label>
    <input [(ngModel)]="searchTerm" />
</label>
<button (click)="search()">Search</button>
<div *ngFor="let movie of movieService.movies">
    {{movie.title}}
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"/> 
    <button (click)="favorite(movie)">Watch later</button>
</div>

